@import '../../library.scss';

.mobile-menu__overlay-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 99;
    display: block;
    transition: transform 0.5s;
    background-color: rgba(0,0,0,.7);

    .mobile-menu__modal {
        margin-left: 120px;
        box-sizing: border-box;
        height: 100vh;
        background-color: $police-blue;
        padding: 56px 24px;
        padding-left: 48px;
        background-image: url('../../img/bg-pattern-about-1-mobile-nav-1.svg');
        background-repeat: no-repeat;
        background-position: calc(100% + 100px) 100%;
        
        .mobile-menu__close-button {
            float: right;
        }
        .mobile-menu__link {
            &:first-of-type {
                margin-top: 56px;
            }
            display: block;
            text-decoration: none;
            color: white;
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 24px;
        }

        .mobile-menu__button {
            @include primary-button-dark;
            margin-top: 12px;
        }
    }
}

.shown {
    transform: translateX(0);
}