@import '../library.scss';

@media only screen and (max-width: 425px) {

// ===============
// NAVBAR
// ===============

    .nav-bar__container {
        padding: 40px 30px;

        .nav-bar__links {
            .nav-bar__link {
                display: none;
            }
        }

        .nav-bar__hamburger-menu {
            display: block;
        }

        .hide-mobile {
            display: none;
        }
    }

// ===============
// HOME PAGE - HERO
// ===============

    .home-page__introduction,
    .about-page__introduction {
        padding: 40px 30px 175px;

        .introduction__title {
            font-size: 40px;
            line-height: 40px;
            width: 70%;
        }
        .introduction__text {
            width: auto;
        }
    }

// ===============
// HOME PAGE - HERO
// ===============

    .home-page__information {
        padding: 60px 30px;
        background-position: calc(100% + 100px) 0%;

        .information__title {
            width: 70%;
        }

        .information__data {
            .data-set {
                text-align: center;

                .data-set__img {
                    float: none;
                    margin: 0 0 20px 0;
                }
            }
        }

    }

// ===============
// HOME PAGE - TESTIMONIALS
// ===============

    .home-page__testimonials {
        padding: 100px 30px;

        .testimonials__title {
            margin: 40px 0;
        }
    }

// ===============
// HOME PAGE & ABOUT PAGE - CONTACT
// ===============

    .home-page__contact-us,
    .about-page__contact-us {
        padding: 80px 30px;
        @include flex-center-column;
        background-position: 0% calc(100% + 20px);

        .contact__title {
            text-align: center;
            width: auto;
            margin-bottom: 10px;
        }
        .contact__button {
            margin: 10px 0;
        }
    }

// ===============
// HOME PAGE - FOOTER
// ===============

    .footer__container {
        @include flex-center-column;
        padding: 60px 30px;

        .footer__links-logo {
            float: none;
            text-align: center;

            .footer__links {
                margin-top: 20px;
                
                .footer__link {
                    margin: 0 20px;
                }
            }
        }

        .footer__address {
            float: none;
            text-align: center;
            margin-top: 30px;
        }

        .footer__copyright-social {
            @include flex-center-column;
            margin-top: 30px;

            .footer__social-icon {
                margin: 10px;
            }
        }
    }

// ===============
// ABOUT PAGE - INTRODUCTION
// ===============

    .about-page__introduction {
        background-position: calc(100% + 100px) calc(100% + 100px);
    }

// ===============
// ABOUT PAGE - DIRECTORS
// ===============

    .about-page__directors {
        padding: 80px 0;
        background-position: -100px -100px, 100% 100%;

        .directors__grid {
            grid-template-columns: repeat(1, 1fr);
        }
    }

// ===============
// ABOUT PAGE - CLIENTS
// ===============   

    .about-page__clients {
        padding: 100px 30px;
        background-position: -100px -100px;

        .clients__logos {
            @include flex-center-column;

            .clients__logo {
                height: 25px;
                width: auto;
                margin: 30px 0;

                &:last-of-type {
                    height: 40px;
                    margin-bottom: 0;
                }
            }
        }
    }

// ===============
// CONTACT PAGE
// ===============   

    .contact-page__container {
        padding: 30px 30px 60px;
        background-image: url('../img/bg-pattern-contact-2.svg');
        background-repeat: no-repeat;
        background-position: calc(100% + 100px) calc(100% + 100px);

        .contact-page__details {

            .contact-page__title {
                font-size: 40px;
            }

            .contact-page__sub-title {
                margin: 10px 0;
            }

            .contact-page__data {
                margin: 20px 0;
                &:first-of-type {
                    margin-top: 40px;
                }
                .contact-page__text {
                    text-align: left;
                }
            }
        }
    }

}