@import '../library.scss';

@media only screen and (max-width: 1024px) {

// ===============
// NAVBAR
// ===============

    .nav-bar__container {
        padding: 60px 40px;
        .nav-bar__links {

            .nav-bar__logo {
                width: 128px;
                height: auto;
                margin-right: 48px;
            }
        }
        
    }  

// ===============
// HOME PAGE - HERO
// ===============

    .home-page__introduction {
        padding: 50px 40px 255px;
        @include flex-center-column();
        align-items: center;
        text-align: center;
        background-image: url('../img/bg-pattern-home-2.svg');
        background-repeat: no-repeat;
        background-position: 50% 100%;

        .home-introduction__title {
            @include h1-small;
            font-weight: 700;
            width: 50%;

        }

        .blue {
            display: none;
        }

        .home-introduction__text {
            padding: 0;
            width: 70%;
            align-self: center;
            @include body-small();
            line-height: 28px;

        }
    }

// ===============
// HOME PAGE - INFO
// ===============

    .home-page__information {
        @include flex-center-column();
        padding: 100px;
        background-image: url('../img/bg-pattern-home-3.svg');
        background-repeat: no-repeat;
        background-position: calc(100% + 100px) 0%;

        .information__title {
            font-size: 32px;
            line-height: 32px;
            margin-bottom: 64px;

            .coral {
                margin-bottom: 40px;
            }
        }

        .information__data {
            padding: 0;
        }
    }

// ===============
// HOME PAGE - TESTIMONIAL
// ===============  

    .home-page__testimonials {
        padding: 100px;

        .testimonials__title {
            font-size: 32px;
            line-height: 32px; 
            margin: 0 50px 48px;
        }

        .testimonials__data {
            @include flex-center-column();

            .testimonial-data {
                padding-top: 36px;
                background-position: 50% 0;

                .testimonial-data__quote {
                    margin-bottom: 16px;
                }

                .testimonial-data__name {
                    margin-bottom: 2px;
                }

                .testimonial-data__occupation {
                    margin-bottom: 16px;
                }
            }
        }
    }

// ===============
// HOME PAGE & ABOUT PAGE - CONTACT
// ===============  

    .home-page__contact-us,
    .about-page__contact-us {
        padding: 76px 100px;
        background-position: 0% calc(100% + 20px);

        .contact__title {
            font-size: 32px;
            line-height: 32px;
        }
    }

// ===============
// HOME PAGE - FOOTER
// ===============  

    .footer__container {
        padding: 50px 40px;
        display: block;

        .footer-contact__info {
            display: flex;
            @include flex-spread;
            margin-bottom: 32px;

            .footer__links-logo {
                margin: 0;

                .footer__logo {
                    margin-bottom: 53px;
                    height: 24px;
                    width: 96px;
                }

                .footer__links {
                    .footer__link {
                        line-height: 25px;
                        font-size: 15px;
                        margin-right: 24px;
                    }
                }
            }

            .footer__address {
                text-align: right;
            }
        }

        .footer__copyright-social {
            flex-direction: row;
            .footer__social-icon {
                margin: 0 16px 0 0;
            }
        }

    }

// ===============
// ABOUT PAGE - INTRODUCTION 
// ===============  

    .about-page__introduction {
        padding: 48px 40px 110px;
        @include flex-center-column();
        align-items: center;
        text-align: center;
        background-image: url('../img/bg-pattern-about-1-mobile-nav-1.svg');
        background-repeat: no-repeat;
        background-position: calc(100% + 100px) 100%;
         
            .about-introduction__title {
                line-height: 56px;
                margin-bottom: 24px;
            }
            .about-introduction__text {
                width: 95%;
                font-size: 15px;
                line-height: 28px;
                .coral {
                    display: none;
                }
            }

    }

// ===============
// ABOUT PAGE - DIRECTORS
// ===============  

    .about-page__directors {
        padding: 100px;

        .directors__title {
            font-size: 32px;
            margin-bottom: 48px;
        }

        .directors__grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 75px;

            .directors__grid-item {

                .directors__item-container {
                    width: 280px;

                    .directors__item-clipper {
                        width: 560px;
                    }

                    .directors__item-1,
                    .directors__item-2 {
                        width: 280px;
                        padding: 35px 24px 63px; 
                    }
                }
            }
        }
    }

    .hide {
        transform: translateX(-280px);
    }

// ===============
// ABOUT PAGE - CLIENTS
// ===============  

    .about-page__clients {
        padding: 100px 40px;
        background-position: 0% -100px;

        .clients__title {
            font-size: 32px;
            line-height: 32px;
            margin-bottom: 48px;
        }
        .clients__logos {
            margin-top: 40px;

            .clients__logo {
                width: auto;
            }
            #gadgets {
                height: 28px;
            }
            #tech,
            #verge,
            #guardian {
                height: 17px;
            }
            #jakarta {
                height: 14px;
            }
        } 
    }

// ===============
// CONTACT PAGE
// ===============  

    .contact-page__container {
        @include flex-center-column;
        padding: 40px 110px 120px;
        background-position: -100px 5%, 120% 100%;

        .contact-page__details {
            text-align: center;
            padding: 0 16px;
            margin-bottom: 64px;

            .contact-page__title {
                line-height: 56px;
                margin-bottom: 24px;
            }

            .contact-page__sub-title {
                margin-bottom: 24px;
            }
        }

        .contact-page__form {
            margin: 0;

            .form__textarea, .form__input {
                width: 100%;
            }
        }
    }

}