@import '../library.scss';

@media only screen and (max-width: 1024px) {

// ===============
// NAVBAR
// ===============

    .nav-bar__container {
        padding: 60px 40px;
        
        .nav-bar__logo {
            width: 128px;
            height: auto;
        }
    }  

// ===============
// HOME PAGE - HERO
// ===============

    .home-page__introduction,
    .about-page__introduction {
        padding: 40px 40px 250px;
        @include flex-center-column();
        align-items: center;
        text-align: center;
        background-image: url('../img/bg-pattern-home-2.svg');
        background-repeat: no-repeat;
        background-position: 50% 100%;

        .introduction__title {
            @include h1-small();
            line-height: 62px;
            width: 50%;
        }

        .blue {
            display: none;
        }

        .introduction__text {
            padding: 0;
            width: 70%;
            align-self: center;
            @include body-small();
        }
    }

// ===============
// HOME PAGE - INFO
// ===============

    .home-page__information {
        @include flex-center-column();
        padding: 80px 100px;
        background-image: url('../img/bg-pattern-home-3.svg');
        background-repeat: no-repeat;
        background-position: calc(100% + 100px) 0%;

        .information__title {
            font-size: 32px;
            line-height: 32px;
        }
        .coral {
            margin-bottom: 30px;
        }
    }

// ===============
// HOME PAGE - TESTIMONIAL
// ===============  

    .home-page__testimonials {
        padding: 80px 100px;

        .testimonials__title {
            font-size: 32px;
            line-height: 32px; 
            margin: 20px 50px;
        }

        .testimonials__data {
            @include flex-center-column();

            .testimonial-data {
                padding-top: 50px;
                background-position: 50% 10px;
            }
        }
    }

// ===============
// HOME PAGE & ABOUT PAGE - CONTACT
// ===============  

    .home-page__contact-us,
    .about-page__contact-us {
        padding: 80px 100px;
        background-position: 0% calc(100% + 20px);

        .contact__title {
            font-size: 32px;
            line-height: 32px;
        }
    }

// ===============
// HOME PAGE - FOOTER
// ===============  

    .footer__container {
        padding: 60px 40px;
        display: block;

        .footer__links-logo {
            float: left;

            .footer__logo {
                width: 96px;
                height: auto;
            }
            .footer__links {
                margin-top: 50px;

                .footer__link {
                    font-size: 15px;
                    margin-right: 25px;
                }
            }
        }

        .footer__address {
            float: right;
            padding: 0;
            text-align: right;
        }

        .footer__copyright-social {
            @include flex-spread;
            align-items: center;
            margin-top: 125px;

            .footer__social-icon {
                margin: 0 20px 0 0;
            }

            .footer__copyright {
                margin: 0;
            }
        }
        
    }

// ===============
// ABOUT PAGE - INTRODUCTION 
// ===============  

    .about-page__introduction {
        background-image: url('../img/bg-pattern-about-1-mobile-nav-1.svg');
        background-repeat: no-repeat;
        background-position: 120% 100%;
        padding-bottom: 100px;

        .coral {
            display: none;
        }
    }

// ===============
// ABOUT PAGE - DIRECTORS
// ===============  

    .about-page__directors {
        padding: 100px;

        .directors__title {
            font-size: 32px;
        }

        .directors__grid {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 60px;
        }
    }

// ===============
// ABOUT PAGE - CLIENTS
// ===============  

    .about-page__clients {
        padding: 100px 40px;
        background-position: 0% -100px;

        .clients__title {
            font-size: 32px;
            line-height: 32px;
        }
        .clients__logos {
            margin-top: 40px;

            .clients__logo {
                height: 16px;
                width: auto;
                &:last-of-type {
                    height: 30px;
                }
            }
        } 
    }

// ===============
// CONTACT PAGE
// ===============  

    .contact-page__container {
        @include flex-center-column;
        padding: 30px 120px 70px;
        background-position: -100px 5%, 120% 100%;

        .contact-page__details {
            text-align: center;
        }

        .contact-page__form {
            margin: 0 auto;

            .form__textarea, .form__input {
                width: 100%;
            }
        }
    }

}