@import '../../library.scss';

.about-page__introduction {
    padding: 40px 165px 120px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 30px;
    background-image: url('../../img/bg-pattern-about-1-mobile-nav-1.svg');
    background-repeat: no-repeat;
    background-position: calc(100% + 100px) 100%;

    .about-introduction__title {
        @include h1-small();
        line-height: 100px;
        color: white;
        grid-area: 1/1/2/2;
    }

    .about-introduction__text {
        grid-area: 1/2/2/4;
        color: white;
        @include body-large();

        .coral {
            margin-bottom: 40px;
        }
    }
}

.about-page__directors {
    padding: 140px 165px;
    background: $deep-jungle-green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url('../../img/bg-pattern-about-2-contact-1.svg'), url('../../img/bg-pattern-home-4-about-3.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: -100px 0%, 100% 100%;

    .directors__title {
        @include h2();
        color: white;
        margin-bottom: 64px;
    }
    .directors__grid {
        @include grid-desktop;
        margin-bottom: 28px;

        .directors__grid-item {
            position: relative;

            .directors__item-container {
                height: 250px;
                width: 350px;
                overflow: hidden;

                .directors__item-clipper {
                    display: flex;
                    height: 250px;
                    width: 700px;
                    transition: transform 0.3s;
                }

                .directors__item-1,
                .directors__item-2 {
                    height: 250px;
                    width: 350px;
                    display: flex;
                    box-sizing: border-box;
                    flex-shrink: 0;
                    flex-direction: column;
                    align-items: center;
                    padding: 30px 40px 56px;
                }

                .directors__item-1 {
                    background-color: $sacramento-state-green;
                }
                .directors__item-2 {
                    background: $dark-green;

                    
                }

                .directors__avatar {
                    box-sizing: border-box;
                    border: 2px solid $rapture-blue;
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                    margin-bottom: 16px;
                }

                .directors__name {
                    @include body-large;
                    color: $rapture-blue;
                }
                .directors__job {
                    @include body-small;
                    color: white;
                    font-weight: 500;
                    font-style: italic;
                }

                .directors__quote {
                    color: white;
                    @include body-small;
                    margin-top: 8px;
                }

                .directors__social-icons {
                    margin-top: 24px;
                }

                .directors__social-icon {
                    margin: 0 8px;
                    transition: filter 0.3s;
                    cursor: pointer;
                    &:hover,
                    &:focus {
                        filter: brightness(0) 
                                saturate(100%)
                                invert(60%) 
                                sepia(12%) 
                                saturate(2053%) 
                                hue-rotate(313deg) 
                                brightness(100%) 
                                contrast(93%);
                    }
                }
                
            }

            .directors__button {
                position: absolute;
                margin: 0 auto;
                left: 0;
                right: 0;
                bottom: -28px;
                height: 56px;
                width: 56px;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                background-color: $light-coral;
                background-image: url('../../img/icon-cross.svg');
                background-position: center;
                background-repeat: no-repeat;
                transition: background-color 0.3s, transform 0.3s;
                &:hover {
                    background-color: $rapture-blue;
                }
            }
        }
    }
}

.hide {
    transform: translateX(-350px);
}
.on {
    background-color: $rapture-blue;
    transform: rotate(-45deg);
}

.about-page__clients {
    background: $sacramento-state-green;
    padding: 140px 165px;
    text-align: center;
    background-image: url('../../img/bg-pattern-about-4.svg');
    background-repeat: no-repeat;
    background-position: 0% 0%;

    .clients__title {
        @include h2();
        color: white;
        margin-bottom: 64px;
    }
    .clients__logos {
        @include flex-spread();

        .clients__logo {
            width: auto;
        }
        #jakarta {
            height: 23px;
        }
        #tech,
        #guardian,
        #verge {
            height: 28px;
        }
        #gadgets {
            height: 45px;
        }
    }
}


.about-page__contact-us {
    padding: 70px 265px;
    background: $light-coral;
    @include flex-spread();
    background-image: url('../../img/bg-pattern-home-6-about-5.svg');
    background-repeat: no-repeat;
    background-position: 0% 100%;

    .contact__title {
        @include h2();
        color: $sacramento-state-green;
    }

    .contact__button {
        @include primary-button-light();
    }
}