@import '../../library.scss';

.home-page__introduction {
    padding: 50px 165px 250px;
    @include grid-50();
    align-items: flex-start;
    background-image: url('../../img/bg-pattern-home-2.svg'), url('../../img/bg-pattern-home-1.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: calc(100% - 165px) 100%, -100px 50px;

    .home-introduction__title {
        @include h1-large();
        color: white;

        span {
            color: $light-coral;
        }
    }

    .home-introduction__text {
        @include body-large();
        color: white;
        padding-left: 95px;
    }
}

.home-page__information {
    background: $sacramento-state-green;
    padding: 140px 165px;
    @include grid-50();
    align-items: flex-start;
    background-image: url('../../img/bg-pattern-home-3.svg');
    background-repeat: no-repeat;
    background-position: calc(100% + 100px) 100%;

    .information__title {
        @include h2();
        color: white;
        padding-right: 95px;
    }

    .information__data {
        padding-top: 60px;
        .data-set {

            &:first-of-type {
                margin-bottom: 32px;
            }
            &:last-of-type {
                margin-top: 32px;
            }
            .data-set__img {
                float: left;
                margin-right: 20px;
            }

            .data-set__title {
                @include body-large();
                color: $light-coral;
                margin-bottom: 16px;
            }
            .data-set__text {
                @include body-small();
                color: white;
                opacity: .8;
            }
        }
    }
}

.home-page__testimonials {
    padding: 140px 165px;
    background: $deep-jungle-green;
    background-image: url('../../img/bg-pattern-home-4-about-3.svg'), url('../../img/bg-pattern-home-5.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 0%, 100% 100%;

    .testimonials__title {
        @include h2();
        color: white;
        text-align: center;
        margin: 0 90px 56px;

        span {
            color: $rapture-blue;
        }
    }

    .testimonials__data {
        @include grid-33();

        .testimonial-data {
            text-align: center;
            padding-top: 36px;
            color: white;
            background-image: url('../../img/icon-quotes.svg');
            background-repeat: no-repeat;
            background-position: 50% 0;

            .testimonial-data__quote {
                @include body-small();
                margin-bottom: 24px;
            }
            .testimonial-data__name {
                @include body-large();
                color: $rapture-blue;
            }
            .testimonial-data__occupation {
                font-style: italic;
                font-size: 13px;
                font-weight: 500;
                line-height: 18px;
                margin-bottom: 32px;
            }
            .testimonial-data__avatar {
                height: 64px;
                width: 64px;
                border: 2px solid $rapture-blue;
                border-radius: 50%;
            }
        }
    }
}

.home-page__contact-us {
    padding: 70px 265px;
    background: $light-coral;
    @include flex-spread();
    background-image: url('../../img/bg-pattern-home-6-about-5.svg');
    background-repeat: no-repeat;
    background-position: 0% 100%;

    .contact__title {
        @include h2();
        color: $sacramento-state-green;
    }

    .contact__button {
        @include primary-button-light();
    }
}