@import '../../library.scss';

.contact-page__container {
    padding: 40px 165px 120px;
    @include grid-50();
    background-image: url('../../img/bg-pattern-about-2-contact-1.svg'), url('../../img/bg-pattern-contact-2.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: -100px 40px, 108% 100%;

    .contact-page__details {
        .contact-page__title {
            @include h1-small();
            color: white;
            line-height: 100px;
            margin-bottom: 16px;
        }
        .contact-page__sub-title {
            font-size: 32px;
            line-height: 48px;
            color: $light-coral;
            margin-bottom: 32px;
        }
        
        .contact-page__data {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            &:last-of-type {
                margin-bottom: 0;;
            }

            .contact-page__image {
                margin-right: 20px;
            }
            .contact-page__text {
                @include body-large();
                color: white;
            }
        }
        

    }

    .contact-page__form {
        .form__input-container {
            margin-bottom: 24px;
            position: relative;

            .error {
                border-bottom: 1px solid $light-coral;
                &::placeholder {
                    color: $light-coral;
               }   
            }
        }
         
        .form__label {
            @include sr-only();
        }

        .form__textarea, .form__input {
            @include input;
            position: relative;
        }
        .form__textarea {
            padding-bottom: 33px;
            resize: none;
        }
        .form__error-message {
            font-size: 10px;
            position: absolute;
            left: 0;
            bottom: -18px;
            line-height: 13px;
            font-weight: 700;
            font-style: italic;
            color: $light-coral;
            padding-left: 8px;
        }

        

        .form__submit {
            @include secondary-button();
            height: 48px;
            width: 123px;
        }
    }
}
