@import '../../library.scss';

.nav-bar__container {
    padding: 80px 165px;
    @include flex-spread();

    .nav-bar__links {
        @include flex-spread();

        .nav-bar__logo {
            margin-right: 60px;
        }
        .nav-bar__link {
            margin-right: 40px;
            @include links();
        }
    }
    .nav-bar__hamburger-menu {
        display: none;
    }
    .nav-bar__contact-button {
        @include primary-button-dark();
    }
}
