@import '../../library.scss';

.footer__container {
    background: $dark-green;
    padding: 45px 165px 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    
    .footer-contact__info {
        display: flex;
        
    }
    .footer__links-logo {
        margin-right: 125px;

        .footer__logo {
            margin-bottom: 25px;
        }
        .footer__links {

            .footer__link {
                margin-right: 40px;
                @include links;
                @include body-large;
                color: white;
            }
        }
    }

    .footer__address {
        @include body-small();
        color: white;
        opacity: .6;
    }

    .footer__copyright-social {
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .footer__social-icon {
            margin-left: 16px;
            cursor: pointer;
            transition: filter 0.3s;
            &:hover,
            &:focus {
                filter: brightness(0) 
                        saturate(100%)
                        invert(60%) 
                        sepia(12%) 
                        saturate(2053%) 
                        hue-rotate(313deg) 
                        brightness(100%) 
                        contrast(93%);
            }
        }
        .footer__copyright {
            @include body-small();
            color: white;
            opacity: .6;
        }
    }
}